<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supercar</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/voiture.css">
</head>
<body>
    <header>
        <img src="../../images/voiture/banniere.jpg" alt="banniere">
    </header>

    <main>
        <h1>Supercar</h1>
        <p class="welcome">
            Bienvenue sur <strong>Supercar</strong> le site dédié aux plus belles voitures de sport du monde.
            Explorez nos modèles emblématiques et découvrez leur puissance, leur design et leur histoire légendaire.
        </p>

        <div class="logo-container">
            <a href="../voiture/corvette.html"><img src="../../images/voiture/png-corvette-removebg-preview.png" alt="Corvette"></a>
            <a href="lamborghini.html"><img src="../../images/voiture/png-lamborghini-removebg-preview.png" alt="Lamborghini"></a>
            <a href="ferrari.html"><img src="../../images/voiture/hd-ferrari-logo-transparent-background-701751694773105xaxoflrdiu-removebg-preview.png" alt="Ferrari"></a>
            <a href="porsche.html"><img src="../../images/voiture/160-1609237_porsche-logo-transparent-porsche-logo-png-png-download-removebg-preview.png" alt="Porsche"></a>
            <a href="mclaren.html"><img src="../../images/voiture/imgbin-mclaren-automotive-mclaren-f1-mclaren-p1-mercedes-benz-slr-mclaren-mclaren-aJGuVrJPW9mjHa36iuy4sRXm9-removebg-preview.png" alt="McLaren"></a>
            <a href="bugatti.html"><img src="../../images/voiture/hd-bugatti-b-logo-png-701751694709239tn1ngjhqfr-removebg-preview.png" alt="Bugatti"></a>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Supercar. Tous droits réservés.</p>
    </footer>
</body>
</html>
